*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/AndroidProjectSystem.xml
/.idea/deploymentTargetSelector.xml
/.idea/deviceManager.xml
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/copilot.data.migration.edit.xml
/.idea/codeStyles/Project.xml
/.idea/vcs.xml
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
